
/* Index styling */

body {
    background: #FCFCFC;
    color: #000000;
}

#navigation {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    background: #02111B;
    color: #FCFCFC;
}

#navbar {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}

#navbar li {
    display: inline;
    margin: 20px;
}

#navbar li a {
    color: #FCFCFC;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    font-size: 24px;
}
