body {
    background: #FCFCFC;
    color: #000000;
}

h1 {
    color: #5D737E;
}



.col-1 {
    width: 50%;
    float: left;
    background: #30292F;
    color: #FCFCFC;
}

.col-2 {
    width: 50%;
    float: right;
    background: #5D737E;
    color: #FCFCFC;
}